.wbdv-profile-row {
    margin: 2px;
    padding: 2px;
}

.wbdv-profile-label {
    color: white;
}

.wbdv-profile-header-main {
    color: white;
    text-align: center;
}

.wbdv-profile-header-user {
    color: white;
}

.wbdv-admin-btn {
    background-color: darkorange;
    border: darkorange;
    color: whitesmoke !important;
}

.wbdv-admin-btn:hover {
    background-color: #bc6400;
    border: #bc6400;
    color: whitesmoke;
}

.wbdv-favorite-recipes {

}

.wbdv-profile-section-label {
    color: whitesmoke;

}

.wbdv-public-content {
    align-content: center;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.wbdv-private-content {
    align-content: center;
    text-align: center;
    margin-bottom: 50px;

}

.wbdv-admin-content {
    align-content: center;
    text-align: center;
    margin-bottom: 50px;

}

.wbdv-recipe-row-title {
    background-color: #1e5a37;
    color: whitesmoke;
}