.wbdv-profile-row {
    margin: 2px;
    padding: 2px;
}

.wbdv-profile-label {
    color: white;
}

.wbdv-profile-header-main {
    color: white;
    text-align: center;
}

.wbdv-profile-header-user {
    color: white;
}