body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: mediumseagreen;
  color: dimgrey;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wbdv-page-title {
  margin: 30px;
  text-align: center;
  color: whitesmoke;
}

.wbdv-search-input {
  margin-bottom: 10px;
}

.wbdv-search-btn {
  background-color: darkorange;
  border: darkorange;
  color: whitesmoke;
  margin: 10px;
  align-self: center;
}

.wbdv-search-btn:hover {
  background-color: #bc6400;
  border: #bc6400;
  color: whitesmoke;
  text-decoration: none;
}

.wbdv-horizontal-center {
  text-align: center;
}

.wbdv-action-icon {
  color: #004070;
  margin: 5px;
  padding: 5px;
}

.wbdv-action-icon:hover {
  color: #000c1a;
  cursor: pointer;
}

.wbdv-go-back {
  align-items: center;
  display: inline-flex;
  color: white;
  font-weight: bold;
  float: left;
}

.wbdv-go-back:hover {
  cursor: pointer;
}

.wbdv-ingredients-heading {
  color: white;
  background-color: #1e5a37;
  padding: 5px;
}

.wbdv-full-recipe-button-area {
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.wbdv-details-area {
  text-align: center;
}

.wbdv-home-heading-container {
  background-color: #1e5a37;
}

.wbdv-home-page-container {
}

.wbdv-home-button-search {
  background-color: darkorange;
  border: darkorange;
}

.wbdv-home-button-search:hover {
  background-color: #bc6400;
  border: #bc6400;
}

.wbdv-details-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.wbdv-details-image-container {
  align-content: center;
}

.wbdv-details-heading-area {
  background-color: #1e5a37;
  align-items: center;
  display: flex;
  justify-content: center;
}

.wbdv-details-button-recipe {
  background-color: darkorange;
  border: darkorange;
}

.wbdv-details-button-recipe:hover {
  background-color: #bc6400;
  border: #bc6400;
}

.wbdv-search-heading {
  background-color: #1e5a37;
}

.wbdv-health-check-box {
  background-color: #1e5a37;
  border: #1e5a37;
  margin: 2px;
}

.wbdv-health-check-box:hover {
  background-color: #0f281e;
  border: #0f281e;
}

.wbdv-search-main-area {
}

.wbdv-search-button-area {
}