body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: mediumseagreen;
  color: dimgrey;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wbdv-page-title {
  margin: 30px;
  text-align: center;
  color: whitesmoke;
}

.wbdv-search-input {
  margin-bottom: 10px;
}

.wbdv-search-btn {
  margin-bottom: 30px;
  background-color: orange;
  color: whitesmoke;
  border: none;
}

.wbdv-horizontal-center {
  text-align: center;
}

.wbdv-action-icon {
  color: #004070;
  margin: 5px;
  padding: 5px;
}

.wbdv-action-icon:hover {
  color: #000c1a;
  cursor: pointer;
}

.wbdv-go-back {
  text-align: center;
  align-items: center;
  display: inline-flex;
  color: white;
  font-weight: bold;
}

.wbdv-ingredients-heading {
  color: white;
}